<html>
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <title>{{.PageTitle}}</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>

    <script type='text/javascript'>  
    </script>
    <style>

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
table.center {
  margin-left:auto; 
  margin-right:auto;
}
    </style>
    <body>
      <form action="/chess">
        <table class="center">
        {{with $1:=.PageGameMove}}
          <tr>
            <th>
              <label for="CurrentGame">Current Game:</label>
              <input type="text" name="CurrentGame" value={{.CurrentGame}}>
            </th>
            <th>
              <label for="GameTurn">Game Turn:</label>
              <input type="text" name="GameTurn" value={{.GameTurn}}>
            </th>
          </tr>
          <tr>
            <td>
              <label for="CurrentPosition">Current Position:</label>
              <input type="text" name="CurrentPosition" value={{.CurrentPosition}}><br><br>
            </td>
            <td>
              <label for="NextPosition">Next Position:</label>
              <input type="text" name="NextPosition" value="{{.NextPosition}}"><br><br>
            </td>
          </tr>
          <tr>
            <td>
              <input type="submit" value="Submit">
            </td>
            <td>
              <b>Possible Move</b>
              </td>
          </tr>
          <tr>
            <td>
              <img src={{.GameImage}} alt="Chess Image">
            </td>
            <td>
              <ol>
                {{range .PossibleMoves}}
                <li>{{.}}</li>
                {{end}}
              </ol>
            </td>
          </tr>
          {{end}}
          <tr>
            <td>
              Other Games
              </td>
              <td>
               {{range .OtherGames}}
                <li>{{.}}</li>
                {{end}}
                </td>
              </tr>
        </table>
      </form>
    </body>

  </html>
